<div class="container">
  <div class="my-4">
    <%= link_to 'Back', @missing_item , class: "general-btn"%>
  </div>

  <div class="row">
    <div class="col-md-5 mx-auto">
      <h5 class="text-center my-4">Editing Missing Item</h5>
      <%= render 'form', missing_item: @missing_item %>
    </div>
  </div>
</div>

