<div class="container">
  <h3 class="text-center my-5">Missing Items</h3>
  <div class="row">
    <% @missing_items.each do |missing_item| %>
      <div class="col-md-3">
        <%= link_to missing_item_path(missing_item), class: "index-missing-tiems" do %>
          <div><%= image_tag url_for(missing_item.photos.first.photo), class: "img-fluid" %></div>
          <h5 class="text-center"><%= missing_item.name %></h5>
          <div class="d-flex justify-content-between">
            <p class="time-ago"><%=time_ago_in_words(missing_item.created_at) %> ago</p>
            <p>
              <% if missing_item.is_missing %>
                <span class="badge bg-danger">Not claimed</span>
              <% elsif %>
                <span class="badge bg-danger">Not claimed</span>
              <% end %>
            </p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
