<div class="container-fluid header-div d-flex align-items-center">
  <div class="header-centralizer">
    <div class="row">
      <div class="col-md-6 text-center">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000" data-bs-pause="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <h1 class="header-headings-styles">Don't give up your missing items, There are still hopes with <br> With WeFoundIt</h1>
              <p class="my-5">
                <a href="/#seaching" class="general-btn">Get Started</a>
              </p>
            </div>
            <div class="carousel-item">
              <h1 class="header-headings-styles">Connect with People who may have found your missing items</h1>
              <p class="my-5">
                <a href="/#seaching" class="general-btn">Get Started</a>
              </p>
            </div>
            <div class="carousel-item">
              <h1 class="header-headings-styles">Imagine the joy it feels to know someone who has seen an Item you misplaced</h1>
              <p class="my-5">
                <a href="/#seaching" class="general-btn">Get Started</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>