@import "bootstrap/scss/bootstrap";

body{
  background-color: antiquewhite;
}

#navbar-div{
  background-color: black;
  padding: 15px 0;
}

.navbar-list{
  list-style: none;
}

.nav-item{
  display: inline-block;
  margin: 0 5px;
}

.color-one{
  color: antiquewhite;
}

.new_user{
  label{
    margin-bottom: 4px;
    font-weight: 600;
  }
}

.field{
  margin: 7px 0;
}

.general-btn{
  background-color: black;
  color:antiquewhite;
  padding: 5px;
  border: 2px solid black;
  border-radius: 20px;
}

.general-btn:hover{
  background-color: transparent;
  color: black;
}

.not-claimed{
  background-color: rgb(241, 121, 121);
  padding: 5px;
  border: 2px solid rgb(241, 121, 121);
  border-radius: 20px;
  font-weight: 700;
}

.claimed{
  background-color: rgb(157, 241, 121);
  padding: 5px;
  border: 2px solid rgb(157, 241, 121);
  border-radius: 20px;
  font-weight: 700;
}

.notice{
  text-align: center;
  background: green;
  padding: 10px;
  color: white;
}

.alert{
  text-align: center;
  background: rgb(128, 0, 15);
  padding: 10px;
  color: white;
}

.index-missing-tiems{
  text-decoration: none;
  color: black
}

.time-ago{
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.449)
}

.general-btn-small{
  background-color: black;
  color:antiquewhite;
  padding: 3px;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 0.6em;
}

.general-btn-small:hover{
  background-color: transparent;
  color: black;
}

.accordion-item{
  border: none !important;
}

.search-div{
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

